<app-main-container title="Lista de Gastos">
      
      <!-- <app-cadastre-plot-filter-buttons
      #filterComponent
      [plotsList]="accountList"
      [tableName]="tableName.nativeElement"></app-cadastre-plot-filter-buttons> -->
  
      <!-- <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="btn-group me-5" role="group">
          <div class="me-5">
            <button type="button" class="btn btn-outline-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Filtros
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item btn btn-primary" (click)="changeFilterMode(filterTypes.NOTHING)">Quitar Filtro</a></li>
              <li><a class="dropdown-item btn btn-primary" (click)="changeFilterMode(filterTypes.BLOCK_NUMBER)">Manzana</a></li>
              <li><a class="dropdown-item btn btn-primary" (click)="changeFilterMode(filterTypes.PLOT_STATUS)">Estado de Lote</a></li>
              <li><a class="dropdown-item btn btn-primary" (click)="changeFilterMode(filterTypes.PLOT_TYPE)">Tipo de Lote</a></li>
            </ul>
          </div>
      
          @if (applyFilterWithNumber === true || applyFilterWithCombo === true) {
            @if (applyFilterWithNumber === true) {
              <input type="number" class="form-control" id="filter-number" [(ngModel)]="filterInput" name="ngModel">
            } @else if (applyFilterWithCombo === true) {
              <select id="content-filter" class="form-select" [(ngModel)]="filterInput" name="ngModel">
                <option disabled selected>Selecciona un filtro</option>
                @for (content of contentForFilterCombo; track content) {
                  <option value="{{content}}">{{content}}</option>
                }
              </select>
            }
            <button class="btn-dark btn" type="button" (click)="confirmFilterPlot()">Buscar</button>
          }
        </div>
      
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" 
          name="btnradio" id="btnradio1" 
          autocomplete="off" (change)="changeActiveFilter(true)" checked>
          <label class="btn btn-outline-primary" for="btnradio1">Lotes Activos</label>
      
          <input type="radio" class="btn-check" 
          name="btnradio" id="btnradio2" 
          autocomplete="off" (change)="changeActiveFilter(false)">
          <label class="btn btn-outline-primary" for="btnradio2">Lotes Inactivos</label>
      
          <input type="radio" class="btn-check" 
          name="btnradio" id="btnradio3" 
          autocomplete="off" (change)="changeActiveFilter()">
          <label class="btn btn-outline-primary" for="btnradio3">Todos</label>
        </div>
      </div> -->
      
      
      <table class="table" #plotsTable>
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Tipo de Gasto</th>
            <th scope="col">Comentarios</th>
            <th scope="col">Balance</th>
          </tr>
        </thead>
        <tbody>
            @for (concept of (conceptList); track concept) {
    
            <tr>
              <td>
                {{ formatDate(concept.accountingDate) }}
              </td>
              <td>
                {{ translateTable(concept.concept, conceptTypesDictionary) }}
              </td>
               <td>
                {{ concept.comments }} 
              </td>
              
              <td>
                <p [ngClass]="{
                    'bg-danger text-white d-inline': concept.amount < 0,
                    'bg-success text-white d-inline': concept.amount >= 0
                  }" style="display: inline;">
                  {{ concept.amount }}
                </p>
              </td>
              <!--
              <td>
                {{ translateTable(plot.plotStatus, plotStatusDictionary) }}
              </td> -->
              <!-- @if (retrievePlotsByActive === undefined) {
                <td>
                  @if (plot.isActive) {
                    <p class="bg-success text-white d-inline">ACTIVO</p>
                  } @else {
                    <p class="bg-danger text-white d-inline">INACTIVO</p>
                  }
                </td>
              } -->
          </tr>
    
            }
        </tbody>
      </table>
        <nav>
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 0">
              <button class="page-link font-company" (click)="changePage(false)">
                Anterior
              </button>
            </li>
            <li class="page-item" [class.disabled]="lastPage === true">
              <button class="page-link font-company" (click)="changePage(true)">
                Siguiente
              </button>
            </li>
          </ul>
        </nav>
    
        <div class="col-12 d-flex justify-content-end">
          <button type="submit" class="btn btn-primary" (click)="goBack()">Volver</button>
      </div>
</app-main-container>