<app-main-container title="Consultar Lote" (infoButtonClick)="openInfo()">
  <form [formGroup]="plotForm" class="row g-3 m-2">

    <div class="col-md-6">
      <div class="d-flex align-items-center flex-row">
        <label for="block-number" class="col-form-label col-md-3">Numero de Manzana</label>
        <input type="number" class="form-control" id="block-number" formControlName="blockNumber">  
      </div>
    </div>

    <div class="col-md-6">
      <div class="d-flex flex-row align-items-center">
        <label for="plot-number" class="col-form-label col-md-3">Número de Lote</label>
        <input type="number" class="form-control ms-2" id="plot-number" formControlName="plotNumber">
      </div>
    </div>

    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="total-area" class="col-form-label col-md-3">Area Total</label>
        <input type="number" class="form-control" id="total-area" formControlName="totalArea">
      </div>
    </div>

    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="built-area" class="col-form-label col-md-3">Area Construida</label>
        <input type="number" class="form-control" id="built-area" formControlName="builtArea">  
      </div>
    </div>

        <div class="col-md-6">
          <div class="flew-row d-flex align-items-center">
            <label for="plot-type" class="col-form-label col-md-3">Tipo de Lote</label>
            <select id="plot-type" class="form-select" formControlName="plotType">
              @for (type of getKeys(plotTypeDictionary); track type) {
                <option value="{{type}}">{{type}}</option>
              }
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="flex-row d-flex align-items-center">
            <label for="plot-status" class="col-form-label col-md-3">Estado del Lote</label>
            <select id="plot-status" class="form-select" formControlName="plotStatus">
              @for (status of getKeys(plotStatusDictionary); track status) {
                <option value="{{status}}">{{status}}</option>
              }
            </select>
          </div>
      </div>
      <div class="col-12 d-flex justify-content-end">
          <button type="submit" class="btn btn-secondary" (click)="goBack()">Volver</button>
      </div>
  </form>
</app-main-container>