<ng-template #confirmAlertContentTemplate>
  <form [formGroup]="noteForm">
    <label for="note" class="form-label">Ingrese una nota</label>
    <input
      type="text"
      class="form-control"
      id="note"
      formControlName="note"
      [ngClass]="{
        'is-invalid': noteForm.get('note')?.invalid && noteForm.get('note')?.touched
      }"
    />
    @if(noteForm.get('note')?.invalid && noteForm.get('note')?.touched) {
    <div class="invalid-feedback">La nota es requerida.</div>
    }
  </form>
</ng-template>




<app-main-container title="Vista de Archivos de Propietario">
  <h5>{{owner?.firstName}} {{owner?.lastName}}</h5>
    <div class="card-body">
      <!-- Filtros y acciones -->
      <!-- <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="btn-group me-5" role="group">
          <div class="d-flex align-items-center">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-outline-danger" (click)="clearFilters()">
                <i class="bi bi-x-octagon-fill"></i> Limpiar
              </button>
              
              <button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-funnel-fill"></i> Filtros
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="applyFilter('ownerId')">Tipo</a></li>
                <li><a class="dropdown-item" (click)="applyFilter('kycStatus')">Estado de KYC</a></li>
              </ul>
            </div>
        
            @if (applyFilterWithInput === true) {
              <div class="d-flex">
                <input type="text" class="form-control me-2" [(ngModel)]="filterInput" placeholder="Filtro">
                <button class="btn btn-dark" type="button" (click)="confirmFilter()">Buscar</button>
              </div>
            }
          </div>
        </div> -->
        
        <!-- Alternar entre tipos de visualización -->
        <!-- <div class="btn-group" role="group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" (change)="toggleView('all')" checked>
          <label class="btn btn-outline-primary" for="btnradio1">Todos</label>
  
          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (change)="toggleView('approved')">
          <label class="btn btn-outline-primary" for="btnradio2">Aprobados</label>
  
          <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" (change)="toggleView('pending')">
          <label class="btn btn-outline-primary" for="btnradio3">Pendientes</label>
        </div>
      </div> -->
  
      <!-- Tabla de archivos para validar -->
      <div class="table-container">
        <table class="table table-striped fixed-table" style="border: 1px solid rgba(0, 0, 0, 0.150); border-collapse: collapse;">
          @if (files.length === 0) {
            <thead>
              <td colspan="7"> 
                <div class="text-center p-2">
                  <div class="alert alert-secondary text-center" role="alert">
                    No se encontraron archivos asociados
                  </div>
                </div>
              </td>
            </thead>
          } @else {
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Estado de KYC</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                @for(file of files; track file) {
                  <tr>
                    <td>{{ file.name }}</td>
                    <td>{{ translateTable(file.fileType, fileTypeDictionary) }}</td>
                    <td>{{ translateTable(file.approvalStatus, fileStatusDictionary) }}</td>
                    <td>
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item btn btn-info" (click)="openFile(file.url)">Ver Archivo</a></li>
                          @if(file.approvalStatus === "UPLOADED") {
                            <li><a class="dropdown-item btn btn-success" (click)="changeFileStatus(file, 'PRE_APPROVED')">pre-Aprobar</a></li>
                          }
                          @if(file.approvalStatus === "PRE_APPROVED") {
                            <li><a class="dropdown-item btn btn-success" (click)="changeFileStatus(file, 'APPROVED')">Aprobar</a></li>
                          }
                          @if(file.approvalStatus === "PRE_APPROVED" || file.approvalStatus === "UPLOADED") {
                            <li><a class="dropdown-item btn btn-danger" (click)="changeFileStatus(file, 'REVIEWED_WITH_NOTES')">Agregar Nota</a></li>
                          }
                          @if(file.approvalStatus === "APPROVED") {
                            <li><a class="dropdown-item btn btn-danger" (click)="changeFileStatus(file, 'MODIFICATION_PERMIT_GRANTED')">Permitir Cambio</a></li>
                          }
                          <!-- <li><a class="dropdown-item btn btn-danger" (click)="changeFileStatus(file, 'REJECTED')">Rechazar</a></li> -->
                        </ul>
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            }
        </table>
      </div>
      
      <!-- Paginación y elementos por página -->
      <div class="d-flex justify-content-between align-items-center mt-3">
        <ngb-pagination
          [(page)]="currentPage"                   
          [pageSize]="pageSize"                    
          [collectionSize]="totalItems"            
          (pageChange)="onPageChange($event)"      
          [maxSize]="5"                            
          [boundaryLinks]="false">
        </ngb-pagination>
        
        <div class="form-group mb-3 me-2">
          <select id="itemsPerPage" class="form-select" [(ngModel)]="pageSize" (change)="onItemsPerPageChange()">
            @for(option of sizeOptions; track $index) {
              <option [value]="option">{{ option }} Elementos</option>
            }
          </select>
        </div>
      </div>
    </div>

    
    <div class="col-12 d-flex justify-content-end">
      <button type="submit" class="btn btn-secondary" (click)="goBack()">Volver</button>
    </div>
  </app-main-container>
  
