
<app-main-container title="Lista de Propietarios">

  <div class="card-body">

    <app-cadastre-filter-buttons
      #filterComponent
      [ownersList]="owners"
      [tableName]="tableName.nativeElement"
      formPath="/owner/form">
    </app-cadastre-filter-buttons>

    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="btn-group me-5" role="group">
        <div class="d-flex align-items-center">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-outline-danger" (click)="changeFilterMode(filterTypes.NOTHING)">
              <i class="bi bi-trash-fill"></i> Limpiar
            </button>


            <button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-funnel-fill"></i> Filtros
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="changeFilterMode(filterTypes.DOC_TYPE)">Tipo Documento</a></li>
              <li><a class="dropdown-item" (click)="changeFilterMode(filterTypes.OWNER_TYPE)">Tipo Propietario</a></li>
            </ul>
          </div>

          @if (applyFilterWithNumber === true || applyFilterWithCombo === true) {
            <div class="d-flex">
              @if (applyFilterWithNumber === true) {
                <input type="number" class="form-control me-2" id="filter-number" [(ngModel)]="filterInput" name="ngModel" placeholder="Número de Lote">
              } @else if (applyFilterWithCombo === true) {
                <select id="content-filter" class="form-select me-2" [(ngModel)]="filterInput" name="ngModel">
                  <option disabled selected>Selecciona un filtro</option>
                  @for (content of contentForFilterCombo; track content) {
                    <option value="{{content}}">{{content}}</option>
                  }
                </select>
              }
              <div class="ms-auto">
                <button class="btn btn-dark" type="button" (click)="confirmFilterOwner()">Buscar</button>
              </div>
            </div>
          }
        </div>
      </div>
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check"
               name="btnradio" id="btnradio1"
               autocomplete="off" (change)="changeActiveFilter(true)" checked>
        <label class="btn btn-outline-primary" for="btnradio1">Activos</label>

        <input type="radio" class="btn-check"
               name="btnradio" id="btnradio2"
               autocomplete="off" (change)="changeActiveFilter(false)">
        <label class="btn btn-outline-primary" for="btnradio2">Inactivos</label>

        <!--  <input type="radio" class="btn-check"
         name="btnradio" id="btnradio3"
         autocomplete="off" (change)="changeActiveFilter()">
         <label class="btn btn-outline-primary" for="btnradio3">Todos</label> -->
      </div>
    </div>


    <div class="table-container">
      <table class="table table-striped fixed-table" style="border: 1px solid rgba(0, 0, 0, 0.150); border-collapse: collapse;" #ownersTable>
        @if (filteredOwnersList.length === 0) {
          <thead>
          <td colspan="7">
            <div class="text-center p-2">
              <div class="alert alert-secondary text-center" role="alert">
                No hay elementos para mostrar
              </div>
            </div>
          </td>
          </thead>
        } @else {
          <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Tipo Doc</th>
            <th scope="col">Doc N°</th>
            <th scope="col">Tipo Propietario</th>
            <th scope="col">Acciones</th>
          </tr>
          </thead>
          <tbody>
            @for(owner of (filteredOwnersList.length ? filteredOwnersList : owners); track owner)
            {
              <tr>
                <td>
                  {{ owner.firstName + " " + owner.secondName }}
                </td>
                <td>
                  {{ owner.lastName }}
                </td>
                <td>
                  {{ translateTable(owner.documentType, documentTypeDictionary) }}
                </td>
                <td>
                  {{ owner.documentNumber }}
                </td>
                <td>
                  {{ translateTable(owner.ownerType, ownerTypeDictionary) }}
                </td>
                <td>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item btn btn-primary" (click)="detailOwner(owner.id)" >Detalle</a></li>
                      <li><a class="dropdown-item btn btn-primary" (click)="ownerPlot(owner.id)" >Ver Lotes</a></li>
                      <li><a class="dropdown-item btn btn-info" (click)="editOwner(owner.id)" >Editar</a></li>
                      <li><a class="dropdown-item btn btn-danger" (click)="assignOwnerToDelete(owner)" data-bs-target="#exampleModal" data-bs-toggle="modal">Eliminar</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        }
      </table>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3">

      <div class="form-group mb-3 me-2">
        <select
          id="itemsPerPage"
          class="form-select"
          [(ngModel)]="pageSize"
          (change)="onItemsPerPageChange()"
        >
          @for(option of sizeOptions; track $index) {
            <option [value]="option">{{ option }} Elementos</option>
          }
        </select>
      </div>

      <div class="ms-auto"></div>

      <ngb-pagination
        [(page)]="currentPage"
        [pageSize]="pageSize"
        [collectionSize]="totalItems"
        (pageChange)="onPageChange($event)"
        [maxSize]="5"
        [boundaryLinks]="false"
      ></ngb-pagination>


    </div>
  </div>
</app-main-container>

