<app-main-container title="{{title}}">
  <form [formGroup]="ownerForm" (ngSubmit)="onSubmit()" class="row g-3 m-2">

    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="first-name" class="col-form-label col-md-2">Nombre<label class="text-danger">*</label></label>
        <input
          type="text"
          class="form-control m-2"
          id="first-name"
          formControlName="firstName"
          [ngClass]="{'is-invalid': ownerForm.get('firstName')?.invalid && ownerForm.get('firstName')?.touched, 'is-valid': ownerForm.get('firstName')?.valid && ownerForm.get('firstName')?.touched}"
        />
      </div>
      <div>
        @if (ownerForm.get('firstName')?.invalid && ownerForm.get('firstName')?.touched) {
          @if (ownerForm.get('firstName')?.errors?.['required']) {
            <small class="text-danger ms-2">requerido</small>
          }
          @if (ownerForm.get('firstName')?.errors?.['minlength']) {
            <small class="text-danger ms-2">al menos 2 caracteres</small>
          }
          @if (ownerForm.get('firstName')?.errors?.['maxlength']) {
            <small class="text-danger ms-2">máximo 50 caracteres</small>
          }
        }
      </div>
    </div>

    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="second-name" class="col-form-label col-md-2">Segundo nombre<label class="text-danger">*</label></label>
        <input
          type="text"
          class="form-control m-2"
          id="second-name"
          formControlName="secondName"
          [ngClass]="{'is-invalid': ownerForm.get('secondName')?.invalid && ownerForm.get('secondName')?.touched, 'is-valid': ownerForm.get('secondName')?.valid && ownerForm.get('secondName')?.touched}"
        />
      </div>
    </div>

    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="last-name" class="col-form-label col-md-2">Apellido<label class="text-danger">*</label></label>
        <input
          type="text"
          class="form-control m-2"
          id="last-name"
          formControlName="lastName"
          [ngClass]="{'is-invalid': ownerForm.get('lastName')?.invalid && ownerForm.get('lastName')?.touched, 'is-valid': ownerForm.get('lastName')?.valid && ownerForm.get('lastName')?.touched}"
        />
      </div>
      <div>
        @if (ownerForm.get('lastName')?.invalid && ownerForm.get('lastName')?.touched) {
          @if (ownerForm.get('lastName')?.errors?.['required']) {
            <small class="text-danger ms-2">requerido</small>
          }
        }
      </div>
    </div>

    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="owner-type" class="col-form-label col-md-2">Tipo Propietario<label class="text-danger">*</label></label>
        <select id="owner-type" class="form-select m-2" formControlName="ownerType"
                [ngClass]="{'is-invalid': ownerForm.get('ownerType')?.invalid && ownerForm.get('ownerType')?.touched, 'is-valid': ownerForm.get('ownerType')?.valid && ownerForm.get('ownerType')?.touched}">
          <option disabled selected>Selecciona un tipo</option>
          @for (type of ownerTypes; track type) {
            <option value="{{ type }}">{{ mapType(type) }}</option>
          }
        </select>
      </div>
      <div>
        @if (ownerForm.get('ownerType')?.invalid && ownerForm.get('ownerType')?.touched) {
          @if (ownerForm.get('ownerType')?.errors?.['required']) {
            <small class="text-danger">requerido</small>
          }
        }
      </div>
    </div>

    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="doc-type" class="col-form-label col-md-2">Tipo Documento<label class="text-danger">*</label></label>
        <select id="doc-type" class="form-select m-2" formControlName="documentType"
                [ngClass]="{'is-invalid': ownerForm.get('documentType')?.invalid && ownerForm.get('documentType')?.touched, 'is-valid': ownerForm.get('documentType')?.valid && ownerForm.get('documentType')?.touched}">
          <option disabled selected>Selecciona un tipo</option>
          <option value="DNI">DNI</option>
          <option value="CEDULA">Cédula</option>
          <option value="PASAPORTE">Pasaporte</option>
        </select>
      </div>
      <div>
        @if (ownerForm.get('documentType')?.invalid && ownerForm.get('documentType')?.touched) {
          @if (ownerForm.get('documentType')?.errors?.['required']) {
            <small class="text-danger">requerido</small>
          }
        }
      </div>
    </div>

    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="doc-number" class="col-form-label col-md-2">Numero<label class="text-danger">*</label></label>
        <input
          type="text"
          class="form-control m-2"
          id="doc-number"
          formControlName="documentNumber"
          [ngClass]="{'is-invalid': ownerForm.get('documentNumber')?.invalid && ownerForm.get('documentNumber')?.touched, 'is-valid': ownerForm.get('documentNumber')?.valid && ownerForm.get('documentNumber')?.touched}"
        />
      </div>
      <div>
        @if (ownerForm.get('documentNumber')?.invalid && ownerForm.get('documentNumber')?.touched) {
          @if (ownerForm.get('documentNumber')?.errors?.['required']) {
            <small class="text-danger">requerido</small>
          }
          @if (ownerForm.get('documentNumber')?.errors?.['ownerExists']) {
            <small class="text-danger">Documento en uso</small>
          }
          @if (ownerForm.get('documentNumber')?.errors?.['serverError']) {
            <small class="text-danger">error en la validacion</small>
          }
        }
      </div>
    </div>

    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="cuit-number" class="col-form-label col-md-2">CUIT<label class="text-danger">*</label></label>
        <input
          type="text"
          class="form-control m-2"
          id="cuit-number"
          formControlName="cuit"
          [ngClass]="{'is-invalid': ownerForm.get('cuit')?.invalid && ownerForm.get('cuit')?.touched, 'is-valid': ownerForm.get('cuit')?.valid && ownerForm.get('cuit')?.touched}"
        />
      </div>
      <div>
        @if (ownerForm.get('cuit')?.invalid && ownerForm.get('cuit')?.touched) {
          @if (ownerForm.get('cuit')?.errors?.['required']) {
            <small class="text-danger">requerido</small>
          }
          @if (ownerForm.get('cuit')?.errors?.['pattern']) {
            <small class="text-danger">solo número</small>
          }
          @if (ownerForm.get('cuit')?.errors?.['invalidCuit']) {
            <small class="text-danger">CUIT no válido</small>
          }
        }
      </div>
    </div>

    <div class="col-md-6">
      <div class="flex-row d-flex align-items-center">
        <label for="bank-account" class="col-form-label col-md-2">Cuenta Bancaria<label class="text-danger">*</label></label>
        <input
          type="text"
          class="form-control m-2"
          id="bank-account"
          formControlName="bankAccount"
          [ngClass]="{'is-invalid': ownerForm.get('bankAccount')?.invalid && ownerForm.get('bankAccount')?.touched, 'is-valid': ownerForm.get('bankAccount')?.valid && ownerForm.get('bankAccount')?.touched}"
        />
      </div>
      <div>
        @if (ownerForm.get('bankAccount')?.invalid && ownerForm.get('bankAccount')?.touched) {
          @if (ownerForm.get('bankAccount')?.errors?.['required']) {
            <small class="text-danger">requerido</small>
          }
          @if (ownerForm.get('bankAccount')?.errors?.['pattern']) {
            <small class="text-danger">solo número</small>
          }
        }
      </div>
    </div>

    <div class="col-md-12">
      <div class="flex-row d-flex align-items-center">
        <label for="birth-date" class="col-form-label col-md-2">Fecha de Nacimiento<label class="text-danger">*</label></label>
        <input
          type="date"
          class="form-control m-2"
          id="birth-date"
          formControlName="birthdate"
          [ngClass]="{'is-invalid': ownerForm.get('birthdate')?.invalid && ownerForm.get('birthdate')?.touched,
             'is-valid': ownerForm.get('birthdate')?.valid && ownerForm.get('birthdate')?.touched}"
        />
      </div>
      <div>
        @if (ownerForm.get('birthdate')?.invalid && ownerForm.get('birthdate')?.touched) {
          @if (ownerForm.get('birthdate')?.errors?.['required']) {
            <small class="text-danger">requerido</small>
          }
          @if (ownerForm.get('birthdate')?.errors) {
            <small class="text-danger">Fecha inválida</small>
          }
        }
      </div>
    </div>


    <div class="mb-3"></div>
    <hr />
    <!-- Asignar un lote -->
    <div formGroupName="plotForm" class="row g-3">
      <h5 class="mt-2 p-2">Asociar un lote</h5>
      <div class="col-md-6">
        <div class="row g-0 align-items-center">
          <div class="col-auto me-2">
            <label for="block-number" class="col-form-label"
            >Numero de Manzana<label class="text-danger">*</label></label
            >
          </div>
          <div class="col">
            <input
              type="number"
              class="form-control"
              id="block-number"
              formControlName="blockNumber"
              [ngClass]="{'is-invalid': ownerForm.get('plotForm')?.get('blockNumber')?.invalid && ownerForm.get('plotForm')?.get('blockNumber')?.touched,
            'is-valid': ownerForm.get('plotForm')?.get('blockNumber')?.valid && ownerForm.get('plotForm')?.get('blockNumber')?.touched}"
            />
          </div>
          <div class="col-12">
            @if (ownerForm.get('plotForm.blockNumber')?.touched &&
            ownerForm.get('plotForm.blockNumber')?.invalid) {
              @if
              (ownerForm.get('plotForm.blockNumber')?.getError('required')) {
                <small class="text-danger">Campo requerido.</small>
              }
              @if (ownerForm.get('plotForm.blockNumber')?.getError('min')) {
              <small class="text-danger">El numero minimo es 1.</small>
              }
            }
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row g-0 align-items-center">
          <div class="col-auto me-2">
            <label for="plot-number" class="col-form-label">Número de Lote<label class="text-danger">*</label></label>
          </div>
          <div class="col">
            <input
              type="number"
              class="form-control"
              id="plot-number"
              formControlName="plotNumber"
              [ngClass]="{'is-invalid': ownerForm.get('plotForm')?.get('plotNumber')?.invalid && ownerForm.get('plotForm')?.get('plotNumber')?.touched,
            'is-valid': ownerForm.get('plotForm')?.get('plotNumber')?.valid && ownerForm.get('plotForm')?.get('plotNumber')?.touched}"
            />
          </div>
          <div class="col-12">
            @if (ownerForm.get('plotForm.plotNumber')?.touched &&
            ownerForm.get('plotForm.plotNumber')?.invalid) { @if
            (ownerForm.get('plotForm.plotNumber')?.getError('required')) {
              <small class="text-danger">Campo requerido.</small>
            } @if (ownerForm.get('plotForm.plotNumber')?.getError('min')) {
              <small class="text-danger">El número mínimo es 1.</small>
            } @if (ownerForm.get('plotForm.plotNumber')?.getError('serverError')) {
              <small class="text-danger"
              >Error en el servidor, por favor intenta nuevamente.</small
              >
            }  @if (ownerForm.get('plotForm.plotNumber')?.getError('plotExists')) { <small class="text-danger ms-2">
              No existe un lote con ese numero en esa manzana.
            </small> }
              @if (ownerForm.get('plotForm.plotNumber')?.getError('plotWithNoOwner')) { <small class="text-danger ms-2">
                Ese lote tiene un dueño asociado.
              </small> }
            }
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3"></div>
    <hr />
    <!-- Addresses -->
    <!-- Addresses -->
    <!-- Addresses -->
    <!-- Addresses -->
    <!-- Addresses -->
    <!-- Addresses -->
    <!-- Addresses -->
    <!-- Addresses -->
    <div formGroupName="addressForm" class="row g-3">
      <h5 class="mt-2 p-2">Añadir Dirección</h5>

      <div class="col-md-6">
        <div class="d-flex flex-row align-items-center">
          <label for="street-address" class="col-form-label col-md-2">Calle<label class="text-danger">*</label></label>
          <input type="text" class="form-control" id="street-address" formControlName="streetAddress"
                 [ngClass]="{'is-invalid': ownerForm.get('addressForm')?.get('streetAddress')?.invalid && ownerForm.get('addressForm')?.get('streetAddress')?.touched,
                  'is-valid': ownerForm.get('streetAddress')?.get('addressForm')?.valid && ownerForm.get('addressForm')?.get('streetAddress')?.touched}"
          >
        </div>
        <div>
          @if(ownerForm.get('addressForm.streetAddress')?.invalid && ownerForm.get('addressForm.streetAddress')?.touched) {
            @if(ownerForm.get('addressForm.streetAddress')?.errors?.['required']) {
              <small class="text-danger ms-2">Campo obligatorio.</small>
            }
          }
        </div>
      </div>

      <div class="col-md-6">
        <div class="d-flex flex-row align-items-center">
          <label for="number" class="col-form-label col-md-2">Número<label class="text-danger">*</label></label>
          <input type="number" class="form-control" id="number" formControlName="number"
                 [ngClass]="{'is-invalid': ownerForm.get('addressForm')?.get('number')?.invalid && ownerForm.get('addressForm')?.get('number')?.touched,
                   'is-valid': ownerForm.get('addressForm')?.get('number')?.valid && ownerForm.get('addressForm')?.get('number')?.touched}"
          >
        </div>
        <div>
          @if(ownerForm.get('addressForm.number')?.invalid && ownerForm.get('addressForm.number')?.touched) {
            @if(ownerForm.get('addressForm.number')?.errors?.['required']) {
              <small class="text-danger ms-2">Campo obligatorio.</small>
            }
          }
        </div>
      </div>

      <div class="col-md-6">
        <div class="d-flex flex-row align-items-center">
          <label for="floor" class="col-form-label col-md-2">Piso</label>
          <input type="number" class="form-control" id="floor" formControlName="floor"
                 [ngClass]="{'is-invalid': ownerForm.get('addressForm')?.get('floor')?.invalid && ownerForm.get('addressForm')?.get('floor')?.touched,
                  'is-valid': ownerForm.get('addressForm')?.get('floor')?.valid && ownerForm.get('addressForm')?.get('floor')?.touched}"
          >
        </div>
      </div>

      <div class="col-md-6">
        <div class="d-flex flex-row align-items-center">
          <label for="apartment" class="col-form-label col-md-2">Depto</label>
          <input type="text" class="form-control" id="apartment" formControlName="apartment"
                 [ngClass]="{'is-invalid': ownerForm.get('addressForm')?.get('apartment')?.invalid && ownerForm.get('addressForm')?.get('apartment')?.touched,
                   'is-valid': ownerForm.get('addressForm')?.get('apartment')?.valid && ownerForm.get('addressForm')?.get('apartment')?.touched}"
          >
        </div>
      </div>

      <div class="col-md-6">
        <div class="d-flex flex-row align-items-center">
          <label for="country" class="col-form-label col-md-2">País<label class="text-danger">*</label></label>
          <select id="country" class="form-select" formControlName="country"
                  [ngClass]="{'is-invalid': ownerForm.get('addressForm')?.get('country')?.invalid && ownerForm.get('addressForm')?.get('country')?.touched,
                   'is-valid': ownerForm.get('addressForm')?.get('country')?.valid && ownerForm.get('addressForm')?.get('country')?.touched}"
          >
            @for(country of countryOptions; track $index) {
              <option [value]="country.value">{{ country.display }}</option>
            }
          </select>
        </div>
        <div>
          @if(ownerForm.get('addressForm.country')?.invalid && ownerForm.get('addressForm.country')?.touched) {
            @if(ownerForm.get('addressForm.country')?.errors?.['required']) {
              <small class="text-danger ms-2">Campo obligatorio.</small>
            }
          }
        </div>
      </div>

      <div class="col-md-6">
        <div class="d-flex flex-row align-items-center">
          <label for="province" class="col-form-label col-md-2">Provincia<label class="text-danger">*</label></label>
          <select id="province" class="form-select" formControlName="province"
                  [ngClass]="{'is-invalid': ownerForm.get('addressForm')?.get('province')?.invalid && ownerForm.get('addressForm')?.get('province')?.touched,
                  'is-valid': ownerForm.get('addressForm')?.get('province')?.valid && ownerForm.get('addressForm')?.get('province')?.touched}"
          >
            @for(province of provinceOptions; track $index) {
              <option [value]="province.value">{{ province.display }}</option>
            }
          </select>
        </div>
        <div>
          @if(ownerForm.get('addressForm.province')?.invalid && ownerForm.get('addressForm.province')?.touched) {
            @if(ownerForm.get('addressForm.province')?.errors?.['required']) {
              <small class="text-danger ms-2">Campo obligatorio.</small>
            }
          }
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-row align-items-center">
          <label for="city" class="col-form-label col-md-2">Ciudad<label class="text-danger">*</label></label>
          <input
            type="text"
            class="form-control w-100"
            id="city"
            formControlName="city"
            [ngClass]="{'is-invalid': ownerForm.get('addressForm')?.get('city')?.invalid && ownerForm.get('addressForm')?.get('city')?.touched,
                 'is-valid': ownerForm.get('addressForm')?.get('city')?.valid && ownerForm.get('addressForm')?.get('city')?.touched}"
          />
        </div>
        <div>
          @if(ownerForm.get('addressForm.city')?.invalid &&
          ownerForm.get('addressForm.city')?.touched ) {
            @if(ownerForm.get('addressForm.city')?.errors?.['required']){
              <small class="text-danger ms-2">Campo obligatorio.</small> } }
        </div>
      </div>

      <div class="col-md-6">
        <div class="row g-0 align-items-center">
          <label for="postal-code" class="col-form-label col-md-2"
          >Codigo Postal<label class="text-danger">*</label></label
          >
          <div class="col">
            <input
              type="number"
              class="form-control"
              id="postal-code"
              formControlName="postalCode"
              [ngClass]="{'is-invalid': ownerForm.get('addressForm')?.get('postalCode')?.invalid && ownerForm.get('addressForm')?.get('postalCode')?.touched,
                   'is-valid': ownerForm.get('addressForm')?.get('postalCode')?.valid && ownerForm.get('addressForm')?.get('postalCode')?.touched}"
            >
          </div>
          <div class="col-12">
            @if(ownerForm.get('addressForm.postalCode')?.invalid &&
            ownerForm.get('addressForm.postalCode')?.touched ) {
              @if(ownerForm.get('addressForm.postalCode')?.errors?.['required']){
                <small class="text-danger">Campo obligatorio.</small>
              } }
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end align-items-center">
      <div class="me-2">
        @if (addressIndex !== undefined) {
          <button type="button" class="btn btn-danger" (click)="cancelEditionAddress()">Cancelar Edición</button>
        }
      </div>
      <div>
        <button type="button" class="btn btn-primary" (click)="addAddress()">Añadir Dirección</button>
      </div>
    </div>
    @if (addresses.length !== 0) {

      <div class="col-12">
        <h5 class="mb-3">Lista de Direcciones</h5>
        <div class="list-group">
          @for (address of addresses; track $index) {
            <div class="d-flex justify-content-between align-items-center mb-2">
              <button type="button"
                      class="list-group-item list-group-item-action btn btn-primary btn-sm me-2"
                      (click)="setAddressValue($index)">
                {{address.streetAddress}} {{address.number}}
              </button>
              @if (!id) {
                <button type="button" class="btn btn-danger btn-sm" (click)="removeAddress($index)">
                  <i class="bi bi-trash-fill"></i>
                </button>
              }
            </div>
          }
        </div>
      </div>
    }
    <div class="mb-3"></div>

    <hr />

    <!-- <div class="row">
      <h5 class="mt-2 p-2">Añadir Contactos</h5>

      <div class="col-md-6">
        <div class="d-flex flex-row align-items-center">
          <label for="first-name" class="form-label me-2">Email</label>
          <input type="text" class="form-control" id="email" formControlName="email" />
        </div>
        <div>
          @if(ownerForm.get('email')?.invalid && ownerForm.get('email')?.touched )
          {
            @if(ownerForm.get('email')?.errors?.['required']){ <small class="text-danger ms-2">requerido</small> }
            @if(ownerForm.get('email')?.errors?.['email']){ <small class="text-danger ms-2">email no válido</small> }
          }
        </div>
      </div>

      <div class="col-md-6">
        <div class="d-flex flex-row align-items-center">
          <label for="first-name" class="form-label me-2">Teléfono</label>
          <input type="text" class="form-control" id="telephone" formControlName="telephone" />
        </div>
        <div>
          @if(ownerForm.get('telephone')?.invalid && ownerForm.get('telephone')?.touched )
          {
            @if(ownerForm.get('telephone')?.errors?.['required']){ <small class="text-danger ms-2">requerido</small> }
            @if(ownerForm.get('telephone')?.errors?.['pattern']){ <small class="text-danger ms-2">solo números</small> }
          }
        </div>
      </div>
    </div> -->

    <!-- Contactos -->
    <!-- Contactos -->
    <!-- Contactos -->
    <!-- Contactos -->
    <!-- Contactos -->
    <!-- Contactos -->
    <!-- Contactos -->
    <div formGroupName="contactsForm" class="row g-3 pb-5">
      <h5 class="mt-2 p-2 pb-4">Añadir Contactos</h5>
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="row g-0 align-items-center">
            <div class="col-auto">
              <label for="contact-type" class="col-form-label me-2">Tipo Contacto</label>
            </div>
            <div class="col">
              <select
                id="contact-type"
                class="form-select"
                formControlName="contactType"
              >
                <option disabled selected>Selecciona un tipo</option>
                <option value="PHONE">Telefono</option>
                <option value="EMAIL">Email</option>
                <option value="SOCIAL_MEDIA_LINK">Otro</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6 mx-auto">
          <div class="row g-0 align-items-center">
            <div class="col-auto">
              <label for="contact-info" class="col-form-label me-2">Contacto</label>
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                id="contact-info"
                formControlName="contactValue"
              />
            </div>
          </div>
        </div>

        <div class="col-md-1 d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-outline-primary me-2"
            (click)="addContact()"
          >
            <i class="bi bi-plus-lg"></i>
          </button>
          @if (contactIndex !== undefined) {
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="cancelEditContact()"
            >
              <i class="bi bi-x-lg"></i>
            </button>
          }
        </div>
      </div>
      @if (contacts.length !== 0) {

        <div class="col-12">
          <h5 class="mb-3">Lista de Contactos</h5>
          <div class="list-group">
            @for (contact of contacts; track $index) {
              <div class="d-flex justify-content-between align-items-center mb-2">
                <button type="button"
                        class="list-group-item list-group-item-action btn btn-primary btn-sm me-2"
                        (click)="setContactValue($index)">
                  {{ contact.contactType }} - {{ contact.contactValue }}
                </button>
                @if (!id) {
                  <button type="button" class="btn btn-danger btn-sm" (click)="removeContact($index)">
                    <i class="bi bi-trash-fill"></i>
                  </button>
                }
              </div>
            }
          </div>
        </div>
      }
    </div>



    <div class="col-12 d-flex justify-content-end mt-5">
      <div class="mx-2">
        <button type="button" class="btn btn-danger" (click)="onCancel()">
          Cancelar
        </button>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </form>
