<div class="row align-items-center mb-3">
  <!-- Sección de búsqueda con ícono de lupa -->
  <div class="col-sm-12 col-md-8 col-xl-8">
    <div class="input-group" style="max-width: 280px">
      <span class="input-group-text" id="search-icon">
        <i class="bi bi-search"></i>
      </span>
      <input
        type="text"
        class="form-control"
        id="filter-text-box"
        (input)="onFilterTextBoxChanged($event)"
      />
    </div>
  </div>

  <!-- Sección de botones -->
  <div
    class="col-sm-12 col-md-4 col-xl-4 text-xl-center text-center mt-3 mt-md-0 d-flex align-items-center justify-content-end"
  >
    <!-- Botón "Nuevo" -->
    <button type="button" class="btn btn-outline-primary" (click)="redirectToForm()">Nuevo</button>

    <!-- Línea vertical -->
    <div class="vertical-line mx-3"></div>

    <!-- Botón para exportar a Excel -->
    <button
      class="btn btn-success me-2 mb-md-2 mb-xl-0 mt-2 mt-xl-0"
      (click)="exportToExcel()"
    >
      <i class="bi bi-file-earmark-excel"></i>
    </button>

    <!-- Botón para exportar a PDF -->
    <button
      class="btn btn-danger me-2 mb-md-2 mb-xl-0 mt-2 mt-xl-0"
      (click)="exportToPdf()"
    >
      <i class="bi bi-file-earmark-pdf"></i>
    </button>
  </div>
</div>






<!-- <div class="row align-items-center mb-3">
    <div class="col-sm-12 col-md-8 col-xl-8">
      <div class="form-group row">
          <label for="filter-text-box" class="col-form-label col-sm-2">Buscar</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="filter-text-box"
              (input)="onFilterTextBoxChanged($event)"
            />
          </div>
        </div>
    </div>
    <div
      class="col-sm-12 col-md-4 col-xl-64 text-xl-center text-center mt-3 mt-md-0 d-flex align-items-center justify-content-end"
    >
      <button
        class="btn btn-secondary me-2 mb-md-2 mb-xl-0 mt-2 mt-xl-0"
        (click)="exportToExcel()"
      >
        <i class="bi bi-file-earmark-spreadsheet"></i>
      </button>
      <button
        class="btn btn-secondary me-2 mb-md-2 mb-xl-0 mt-2 mt-xl-0"
        (click)="exportToPdf()"
      >
        <i class="bi bi-file-earmark-arrow-up"></i>
      </button>
    </div>
  </div> -->



