<app-main-container title="" >
  <div class="container-fluid row">

    <div class="col-md-6 d-flex justify-content-center">
      <div class="card shadow" style="min-height: 450px; width: 100%; min-width: 450px" >
        <div class="card-body d-flex flex-column justify-content-center">
          <h3 class="card-title text-center mb-4">Iniciar sesión</h3>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input
                type="text"
                id="email"
                class="form-control"
                formControlName="email"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input
                type="password"
                id="password"
                class="form-control"
                formControlName="password"
                required
              />
            </div>
            <div class="d-grid">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="loginForm.invalid"
              >
                Ingresar
              </button>
            </div>
          </form>
          <div class="text-center mt-3">
            <a href="#">Olvidó su contraseña?</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <img
        src="assets\portada.JPG"
        alt="Login Image"
        class="img-fluid shadow"
        style="
          min-height: 450px;
          width: 100%;
          min-width: 450px;
          object-fit: cover;
          border-radius: 8px;
        "
      /><!-- 
      <img
        src="assets\villa_del_condor_desarrollo_1.jpg"
        alt="Login Image"
        class="img-fluid shadow"
        style="
          max-height: 100%;
          width: 100%;
          max-width: 450vw;
          object-fit: cover;
          border-radius: 8px;
        "
      /> -->
    </div>
  </div>
  <div class="row mt-4 mx-auto">
    <div class="col-md-6">
      <img
        src="assets\villa_del_condor.png"
        alt="Login Image"
        class="img-fluid"
        style="
          object-fit: cover;
          border-radius: 2px;
        "
      />
    </div>
    <div class="col-md-3 mt-2">
      COMERCIALIZACIÓN
      Oficina comercial
      Ruta 271 Km 10,5 - Camino a San Clemente
      Potrero de Garay - Valle de Calamuchita
      Córdoba - Argentina
      (03546) 15 51 19 55
      (03546) 15 51 19 54
    </div>
    <div class="col-md-3 mt-2">
      VILLA DEL CÓNDOR
      Geo
      ¿Qué hacer?
      Desarrollo
      Loteo
      Ubicación
      Comercialización
    </div>
  </div>
</app-main-container>
